.form {
    display: flex;
    align-items: center;
}

.form input {
    flex: 1;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form input:focus {
    outline: none;
    border-color: #2f80ed;
}

.form .button {
    border: none;
    background-color: #2f80ed;
    color: white;
    cursor: pointer;
    padding: 1rem;
    height: 50px;
    border-radius: 5px;
}
